
@{
    ViewBag.Title = "Регистрация";
}

<form method="post" action="">
    <table>
        <tr>
            <td><p>Введите Email </p></td>
            <td><input type="text" name="Email" id="index_email" style="width: 220px;"></td>
        </tr>
        <tr>
            <td><p>Введите Пароль </p></td>
            <td><input id="password" name="Password" type="password" style="width: 220px;" /></td>
        </tr>
        <tr>
            <td><p>Подтвердите Пароль </p></td>
            <td><input id="password" name="Password1" type="password" style="width: 220px;" /></td>
        </tr>
        <tr>
            <td><input id="Submit1" type="submit" value="Зарегистрироваться" /></td>
            <td></td>
        </tr>
    </table>
</form>